@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
:root {
  --dark: #040b14;
  --light: #a8a9b4;
  --white: #ffffff;
  --primary: #149ddd;
  --font: "Poppins", sans-serif;
}
